/*nombro variables de colores*/

       
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --sm:20px;
    --md: 18px;
    --lg: 20px;
}

body{
    font-family: 'Quicksand', sans-serif;
}
   

/*........................container de contraseñas....................*/
body{
    margin: 0;
}

.login {
    width: 100%;
    height: 100vh;
    /*de esta forma centro el contenido en x y en y*/
    display: grid;
    place-items: center;
    
}

.form-container{
    /*la estructura se pone en fila*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}

/*logo YARDE Sale*/
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title{
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
}

.form{
    /*de esta forma tengo el bloque de contraseñas en vertical*/
    display: flex;
    flex-direction: column;

}

.form div{
    display: flex;
    flex-direction: column;
}

/*..............section de ingresar contraseña y boton.........*/
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.primary-button{
    background-color: var(--hospital-green);
    width: 100%;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: var(--md);
    cursor: pointer;
    font-weight: bold;
    height: 50px;

}


.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}


/*.................section correo...................*/
.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email-image img{
    width: 80px;
}

.resend{
    font-size:var(--sm);

}

.resend span{
    color: var(--very-light-pink);
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
    
}


/*..............section login..........*/

.form a{
   
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 54px;

}

.input-email{
    margin-bottom: 22px;
}



.secondary-button{
    background-color: var(--);
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
    font-weight: bold;
    height: 50px;

}




/*..........section cuenta............*/
.input-name, .input-email, .input-password{
    margin-bottom: 22px;
}


/*.............section editar cuenta...........*/
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    color: var(--hospital-green);
    font-weight: bold;
    height: 50px;

}

.value{
    color: var(--very-light-pink);
    font-size: (--md);
    margin: 8px 0 32px 0;
}



/*...................section inicio...............*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;/*separo las cards*/
    place-content: center;/*centramos todo el contenido al centro de la pantalla*/
}

.product-card {
    width: 240px;
}

.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;/*la imagen va mantener su tamaño*/
}


.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

}

.product-info figure {
   margin: 0;

}


.product-info figure img{
    width: 35px;
    height: 35px;

} 

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}




/*.........................section menu.......................*/
.desktop-menu{
   width: 100px;
   height: auto; 
   border: 1px solid var(--very-light-pink);/*color del borde del menu*/
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    
}

.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li{ 
    text-align: end;
}

.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2){ 
    font-weight: bold;
}


.desktop-menu ul li:last-child{ 
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{ 
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{ 
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    
}

 /*................section mis_ordenes............*/
.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.title{
    font-size: var(--lg);
    margin-bottom: 40px;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;/*separo el nombre del articulo bicicleta con el precio de forma horizontal*/
    align-items: center;
    background-color: var(--text-input-field);/*le damos color al fondo de la fecha, cntidad de articulos y precio*/
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;/*centro el texto*/
}

/*la cantidad de articulos pasa a la parte de abajo de la fecha*/
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}

/*cambia de tamaño la fecha y gruesor de fuente*/
.order span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}

/*cambia de tamaño y color la cantidad de articulos*/
.order span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

/*la cantidad de art*/
.order p:nth-child(2){
   text-align: end;
   font-weight: bold;
}

.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure{
    margin: 0;/*alinio en vertical las tarjetas de los articulos con el precio total*/
}

.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.my-order-content{
    display: flex;
    flex-direction: column;
    
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);/*modifico el parrafo bicicleta*/
}

.shopping-cart p:nth-child(3){
    font-size: var(--md) ;/*modifico el tamaño del precio del articulo*/
}




/*...............section mis_compras...........*/
.compras{
    display: grid;
    grid-template-columns: auto 1fr auto;/*la flecha se a comoda al lado del precio de todas las compras*/
    gap: 16px;/*separo el nombre del articulo bicicleta con el precio de forma horizontal*/
    align-items: center;
    margin-bottom: 12px;
    
}

/*cambia de tamaño y color la cantidad de articulos*/
.compras span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

/*la cantidad de art*/
.compras p:nth-child(2){
   text-align: end;
   font-weight: bold;
}

/*la cantidad de articulos pasa a la parte de abajo de la fecha*/
.compras p:nth-child(1){
    display: flex;
    flex-direction: column;
}




/*...............section menu escritorio...........*/
.menu-escritorio{
    display: none;/*desaparece el icono del menu*/
   
}

/*tamaño del logo yarsale*/
.logo-escritorio{
    width: 20%;
}

/*la lista y el correo con el carrito quedan de forma horizontal*/
.nav-escritorio{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);

}

.navbar-left-escritorio ul
 {
    list-style: none;/*quito los puntos de la lista*/
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    
}

.navbar-left-escritorio {
    display: flex;
    margin-left: 12px;
}

.navbar-right-escritorio ul{
    display: flex;
    margin-left: 12px;
}



.navbar-left-escritorio ul li a,
.navbar-right-escritorio ul li a {
    text-decoration: none;/*quito las lienas de la parte de abajo de la lista*/
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;

}

.navbar-left-escritorio ul li a :hover,
.navbar-right-escritorio ul li a :hover {
    
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green)

}

/*email*/
.navbar-email-escritorio{
    color: var(--very-light-pink);
    font-size: var(--sm);
    list-style: none;/*quito los puntos de la lista*/
}

.navbar-shopping-cart-escritorio{
    position: relative;
    list-style: none;/*quito los puntos de la lista*/
    display: flex;
}

.navbar-shopping-cart-escritorio div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display:flex ;
    justify-content: center;
    align-items: center;
}

/*......................section detalle_producto...................*/
.producto-detail{
    width: 360px;
    padding-bottom: 24px;
    /*toda la section de detalle producto va a la derecha de la pantalla*/
    position: absolute;
    right: 0;

}

/*colocamos la letra x dentro del circulo */
.producto-detail-close {
    background: var(--white);
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}


/*letra x en la parte superiror*/
.producto-detail-close :hover{
    cursor: pointer;/*aparece una mano al pasar el mouse por la x*/
}

/*modifico el tamaño de la bicicleta*/
.producto-detail > img:nth-child(2){
  width: 100%; 
  height: 360px; 
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.producto-informacion{
    margin: 24px 24px 0 24px;/*separo la informacion de la parte izquierda*/
}

.producto-informacion p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top:0;
    margin-bottom: 4px;
}

.producto-informacion p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top:0;
    margin-bottom: 36px;
}

.producto-informacion p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top:0;
    margin-bottom: 36px;
}

.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*......................section 13carrito_compras..............*/
.producto-detail-13{
    box-sizing: border-box;
    /*toda la section de detalle producto va a la derecha de la pantalla*/
    position: absolute;
    right: 0;
}
.my-order-13{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.title-13{
    font-size: var(--lg);
    font-weight: bold;
}

.order-13 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;/*separo el nombre del articulo bicicleta con el precio de forma horizontal*/
    align-items: center;
    background-color: var(--text-input-field);/*le damos color al fondo de la fecha, cntidad de articulos y precio*/
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;/*centro el texto*/
}

/*la cantidad de articulos pasa a la parte de abajo de la fecha*/
.order-13 p:nth-child(1){
    display: flex;
    flex-direction: column;
}

/*cambia de tamaño la fecha y gruesor de fuente*/
.order-13 span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}



/*la cantidad de art*/
.order-13 p:nth-child(2){
   text-align: end;
   font-weight: bold;
}

.shopping-cart-13{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart-13 figure{
    margin: 0;/*alinio en vertical las tarjetas de los articulos con el precio total*/
}

.my-order-container-13{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.my-order-content-13{
    display: flex;
    flex-direction: column;
    
}

.shopping-cart-13 figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart-13 p:nth-child(2){
    color: var(--very-light-pink);/*modifico el parrafo bicicleta*/
}

.shopping-cart-13 p:nth-child(3){
    font-size: var(--md) ;/*modifico el tamaño del precio del articulo*/
}

/*coloco la flecha al lado de mi orden*/
.title-container-13{
    display: flex;
}

.title-container-13 img{
    transform: rotate(180deg);/*de esta forma puedo cambiar la direccion de la flecha*/
    margin-right: 14px;
}



 


@media (max-width: 640px) {
    .logo{
        display: block;
        margin-top: 20px;
    }

    .secondary-button{
       margin-top: 150px;
       margin-bottom: 32px;
    }

    .form-container {
        height: 100%;
        
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;/*separo las cards*/
    }

    .product-card {
        width: 140px;
    }
    
    .product-card img{
        width: 140px;
        height: 140px;
        
    }

    /*................section movil_menu..................*/

    .mobile-menu{
        padding: 50px;

    }
    .mobile-menu a{
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
       
    }

    .mobile-menu .ordenes{
        margin-top: 132px;
        
    }

    .mobile-menu .cuenta{
       margin-bottom: 132px;
       
    }

    .mobile-menu ul {
        padding: 0;
        margin: 24px 0 0;
        list-style: none;
    }

    .mobile-menu ul li{
         margin-bottom: 24px;
    }

    .email{
        font-size: var(--sm);
        font-weight: 300 !important;
    }

    .mobile-menu ul:nth-child(1){
        border-bottom: 1px solid var(--very-light-pink);
    }

    .mobile-menu .sign-out {
        font-size: var(--sm);
        color: var(--hospital-green );
    }

   
    /*...............section menu escritorio movil...........*/
    .menu-escritorio{
        display: block;
       
    }

    .navbar-left-escritorio ul{
        display: none;
    }

    .navbar-email-escritorio{
        display: none;
    }
    
    /*............section detalle producto..................*/
    .producto-detail{
        width: 100%;
    }

    /*............section 13carrito_compras................... */
    .producto-detail-13{
        width: 100%;
    }
    
}